*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #ccc;
    font-size: 18px;
}

.wrapper{
    max-width: 1024px;
    padding: 25px;
    margin: 25px auto;
    z-index: 200;
}

.firstPage{
    width: 100%;
    height: 100vh;
    position: relative;

}

.firstPage video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    z-index: 100;
}

.firstPage h2{
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: #fff;
}
.button_1678234899913 {
    display: inline-block !important;
    text-decoration: none !important;
    background-color: #d108f4 !important;
    color: #ededed !important;
    border: 3px solid #be9e64 !important;
    border-radius: 200px !important;
    font-size: 50px !important;
    padding: 13px 10px !important; 
    transition: all 0.8s ease !important;
}
.button_1678234899913:hover {
    text-decoration: none !important; 
    background-color: #006089 !important;
    color: #ffeded !important;
    border-color: #006089 !important;
}